<h1>Editing order</h1>

<%= render 'form' %>

<%= link_to 'Show', customer_order_path(@customer, @order), class: "btn btn-info" %> |
<%= link_to 'Back', customer_orders_path(@customer, @order), class: "btn btn-info" %>
